.first{
  width: 693px;
    margin-left: 42px;
}

.modal-title{
  height:25px;
  margin-bottom: 22px;
    margin-top: -2px;
}

.tbody{
  background-color: aliceblue;
  } 
.containers{
  max-width: 844px;
  height: 750;
  border: 5px solid rgb(194, 189, 189);
  background-color:black;
  width:522px;
  
} 


 .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color: aqua;
  color:black; 
  text-align: center;
  font-size: 20px; /* Adjust the font size to your preference */
 }


tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 20;
  

}
.tbody {
  background-color: beige;
} 


.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  background-color: aqua;
  
}


.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 85%;
  margin-bottom: 1rem;
  background-color:lightyellow;
  color: black;
  vertical-align: top;
  border-color: #dee2e6;
  border-collapse: collapse;
  margin-left: 90px;
  margin-bottom: 270px;
}


.edit-user{
margin-top:8px;

}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  background-color:white;
}

.save-changes{
  margin-left: 339px;
}



.addUser{
  margin-bottom: 4px;
  margin-top: 16px;
  margin-left: 1070px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}


.form-label{
    color:white;
    margin-left: 29px;
    

  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 105%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.form-control {
   margin-left: 23px;
    display: block;
    width: 91%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
  


.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-left: 5px;
  width:38px;
  height: 37px;
}





.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  background-color: black;
}







.verify{
  margin-bottom: 11px;
    margin-top: 14px;
    margin-left: 299px;
    --bs-btn-color: white;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}



.Verification-body {
  margin-top: 19px;
  margin-left: 55px;
}




.code {
  font-size: 30px;
  margin: 2px;
  border-radius: 4px;
  text-align: center;
  width: 48px;
  height: 72px;
}

/* Hide spin buttons for Chrome, Safari, Edge, Opera */
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.Verification{
  margin-bottom: 8px;
    margin-top: 22px;
    margin-left: 4px;
}


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}


.h3{
 margin-left: 91px;
    margin-bottom: 24px;
    margin-top: 13px;
}
